img {
    width: -moz-available;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}

.toolbar {
    display: grid;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 1.45rem;
    font-weight: 700;
    font-size: 25px;
}

.introduction {
    display: grid;
    gap: 10px;
    text-align: center;
}

.tagline {
    font-weight: 700;
}

pre, code {
    font-family: monospace, monospace;
}
pre {
    overflow: auto;
}
pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
}

.red-code {
    color: #922525;
}

.green-code {
    color: #346f34;
}

.yellow-code {
    color: #d5bc3c;
}

.orange-code {
    color: #ee9244;
}

