img {
    width: -moz-available;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}

.toolbar {
    display: grid;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 1.45rem;
    font-weight: 700;
    font-size: 25px;
}

.introduction {
    display: grid;
    gap: 10px;
    text-align: center;
}

.tagline {
    font-weight: 700;
    font-size: 20px;
}

