<style>

    .main-grid {
        display: grid;
        width: 100%;
    }

    img {
        width: 100%;
        height: 350px;
    }

    .toolbar {
        display: grid;
        padding: 10px 0;
        grid-template-areas: "logo . call-to-action";
        text-align: center;
    }

    .logo {
        grid-area: logo;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 0;
    }

    .call-to-action {
        grid-area: call-to-action;
    }

    .tagline {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }

    .introduction {
        display: grid;
        gap: 10px;
        text-align: center;
    }

    .introduction > p {
        color: rgba(56, 57, 55, 0.53);
    }

    .features {
        display: grid;
        gap: 10px;
    }

    .feature {
        display: grid;
        gap: 10px;
        grid-template-columns: 50% 50%;
    }


    .sign-up {
        display: grid;
        gap: 5px;
        grid-template-columns: 70% 30%;
    }

    .button-container {
        text-align: center;
    }

    .the-footer {
        display: grid;
        gap: 10px;
        grid-template-areas: "about one-cs support social"
                             "copyright copyright copyright copyright";
    }

    .about {
        grid-area: about;
    }

    .one-cs {
        grid-area: one-cs;
    }

    .support {
        grid-area: support;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    .social {
        grid-area: social;
    }

    .copyright {
        grid-area: copyright;
    }

    .call-to-action {
        border: none;
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
        background: #5f4f8b;
        color: white;
    }

    @media (max-width: 420px) {
        .feature {
            grid-template-columns: 100%;
        }

        .sign-up {
            grid-template-columns: 100%;
        }

        .the-footer {
            grid-template-areas: "about"
                                 "one-cs"
                                 "support"
                                 "social"
                                 "copyright";
        }
    }


</style>

<div class="container">
    <div class="main-grid">
        <div class="toolbar" role="banner">
            <div class="logo"> 📈
                <span>1 Click Manager</span></div>
            <button class="call-to-action">Get Started</button>
        </div>
        <div class="introduction">
            <div class="tagline">Make your Work-Flow Better</div>
            <p>1 Click Manager sets up your entire business infrastructure. It gives your employees a streamlined
                platform
                for productivity, and gives you a dashboard to monitor engagement.</p>
            <figure>
                <img src="assets/images/luke-chesser-JKUTrJ4vK00-unsplash-small.jpg" alt="Dashboard Screenshot"/>
                <figcaption><span>Photo by <a
                        href="https://unsplash.com/@lukechesser?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Luke Chesser</a> on <a
                        href="https://unsplash.com/s/photos/monitoring?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                </figcaption>
            </figure>
        </div>
        <div class="features">
            <div class="feature">
                <figure>
                    <img src="assets/images/sharon-mccutcheon-tn57JI3CewI-unsplash.jpg" alt="Dashboard Screenshot"/>
                    <figcaption><span>Photo by <a
                            href="https://unsplash.com/@sharonmccutcheon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sharon McCutcheon</a> on <a
                            href="https://unsplash.com/s/photos/files?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                    </figcaption>
                </figure>
                <div>
                    <h2>Share Files</h2>
                    <p>Save time and energy with smooth file sharing and automated backups.</p>
                </div>
            </div>
            <div class="feature">
                <div>
                    <h2>Single sign on</h2>
                    <p>Share and manage passwords across different services,</p>
                </div>
                <figure>
                    <img src="assets/images/tim-russmann-fzmHxEOo1-Y-unsplash.jpg" alt="Dashboard Screenshot"/>
                    <figcaption><span>Photo by <a
                            href="https://unsplash.com/@timaesthetic?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tim Rüßmann</a> on <a
                            href="https://unsplash.com/s/photos/lock-bridge?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                    </figcaption>
                </figure>
            </div>
            <div class="feature">
                <figure>
                    <img src="assets/images/stephen-phillips-hostreviews-co-uk-aE0iX-bLCJc-unsplash.jpg"
                         alt="Dashboard Screenshot"/>
                    <figcaption><span>Photo by <a
                            href="https://unsplash.com/@hostreviews?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Stephen Phillips - Hostreviews.co.uk</a> on <a
                            href="https://unsplash.com/s/photos/slack?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                    </figcaption>
                </figure>
                <div>
                    <h2>Work with your favourite apps</h2>
                    <p>Out of the box integration with common applications like Slack</p>
                </div>
            </div>
        </div>
        <div class="sign-up">
            <div>
                <h2>Sign up</h2>
                <p>Sign up and start enhancing employee engagement and enterprise efficiency.</p>
            </div>
            <div class="button-container">
                <button class="call-to-action">Get Started</button>
            </div>


        </div>
        <footer class="the-footer">
            <div class="about">
                <div> 📈<span>1 Click Manager</span></div>
                <p>1 click startup was created to help remove pain points resulting from overly complicated
                    work-flows.</p>
            </div>
            <div class="one-cs">
                <h3>1CS</h3>
                <ul>
                    <li><a href="#">Integrations</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
            <div class="support">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                </ul>
            </div>
            <div class="social"><a>SOCIAL ICON</a><a>SOCIAL ICON</a><a>SOCIAL ICON</a></div>
            <div class="copyright"><p>1 Click Startup, 2021</p></div>
        </footer>
    </div>
</div>

<router-outlet></router-outlet>
